@{
    ViewData["Title"] = "Refuse Reason";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">

                    <br />
                    <div class="row">
                        <div class="col-6">
                            <h2 class="text-primary">  Refuse Reason List </h2>
                        </div>
                        <div class="col-6 text-right">
                            <a class="btn btn-primary color text-white" asp-action="Upsert"><i class="fas fa-plus  "></i> Create Refuse Reason  </a>
                        </div>
                    </div>
                </div>
                <br />


           

                            <div class="p-4 border rounded">

                                <table id="tblData" class="table align-items-center table-flush" style="width:100%">
                                    <thead class="thead-light">
                                        <tr class="table-info">

                                            <th>Project Code</th>
                                            <th>Refuse Reason</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                </div>
        </div>
    </div>


            @section Scripts{

                <script src="~/js/Refuse.js"></script>
            }


            @*

                @{
                    ViewData["Title"] = "Non Target Reason";
                }
                @model IEnumerable<RefuseModel>

                <div class="row">
                    <div class="col">
                        <div class="card shadow">


                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0">Non Target Reason</h3>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a asp-action="Upsert" asp-route-id="" class="btn btn-sm btn-primary">Create Non Target Reason</a>
                                    </div>
                                </div>
                            </div>





                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Project Code</th>
                                            <th scope="col">Non Target Reason</th>
                                            <th scope="col"></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PROJECT_CODE)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RefuseREASON)
                                                </td>


                                                <td class="text-right">
                                                    <div class="dropdown">
                                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-arrow">
                                                            <a class="dropdown-item" asp-action="Upsert" asp-route-id="@item.RefuseCODE">Edit</a>
                                                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.RefuseCODE">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>


                                            </tr>
                                        }



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>*@

