@*<div class="header bg-gradient-primary pb-7 pt-8  ">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">*@









<div class="col-xl-3 col-lg-6  mb-2 ">
    <div class="card card-stats mb-2 mb-xl-0">
        <div class="card-body mb-0 " id="TALKTIME">

            <!--render from js script-->
        </div>
    </div>
</div>


<div class="col-xl-3 col-lg-6  mb-2 ">
    <div class="card card-stats mb-2 mb-xl-0">
        <div class="card-body mb-0" id="MTDDETAIL">
            <!--render from js script-->
        </div>
    </div>
</div>


<div class="col-xl-3 col-lg-6  mb-2 ">
    <div class="card card-stats mb-2 mb-xl-0">
        <div class="card-body mb-0" id="RETENTION-CURRENT">
            <!--render from js script-->
        </div>
    </div>
</div>


<div class="col-xl-3 col-lg-6  mb-2 ">
    <div class="card card-stats mb-2 mb-xl-0">
        <div class="card-body mb-0" id="RETENTION-PREVIOUS">
            <!--render from js script-->
        </div>
    </div>
</div>


            @*</div>
    </div>
</div>
</div>*@

