

<div class="row">
    <div class="col">
        <div class="card shadow">
           
               

              
            <div class="card-header border-0">
                <br />
                <h2 class=" text-center text-red "> <a asp-area="Identity" asp-page="/Account/Login">  Your Session is expired Click here to Login  </a></h2>
                @*<div class="col-12 border-bottom">

                </div>*@

            </div>
        </div>
    </div>
</div>