@using Microsoft.AspNetCore.Identity
@using JustClick.Infrastructure.ApplicationUserClaims.Extensions
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<nav class="navbar navbar-horizontal fixed-top  navbar-expand-md navbar-dark bg-gradient-primary mb-0" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon ">
                
            </span>
        </button>
        <!-- Brand -->
        @*<a class="navbar-brand pt-0" href="/">
            <img src="~/img/brand/blue.png" class="navbar-brand-img" alt="...">
        </a>*@



        <a class="navbar-brand pt-0" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
            <img src="~/img/brand/web-WH-imit.png" class="navbar-brand-img" alt="...">
        </a>

        
        <!-- Collapse -->
        <div class="collapse navbar-collapse " id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand ">
                        <a href="./index">
                            <img src="~/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler " data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">

                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Form -->
            <!--
              <form class="mt-4 mb-3 d-md-none">
                  <div class="input-group input-group-rounded input-group-merge">
                      <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
                      <div class="input-group-prepend">
                          <div class="input-group-text">
                              <span class="fa fa-search"></span>
                          </div>
                      </div>
                  </div>
              </form>
        -->
            <!-- Navigation -->


            <ul class="navbar-nav">


                <!-- User -->

                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    @if (@User.GetPicture() != null)
                                    {
                                        <img alt="Image placeholder" src="~/img/Users/@User.GetPicture()">
                                    }
                                    else
                                    { <img alt="Image placeholder" src="~/img/Users/no-image.jpg">}
                                }

                            </span>
                            <div class="media-body ml-2 d-none d-lg-block">
                                <span class="mb-0 text-sm font-weight-bold">
                                    @if (SignInManager.IsSignedIn(User))
                                    {

                                        @User.GetFullNameOrEmail();
                                        <span>/</span>
                                        @User.GetExtension();

                                    }
                                    else
                                    {
                                        <span>Anonymous User</span>
                                    }
                                </span>
                            </div>
                        </div>
                    </a>
                    <partial name="_Dropdown" />
                </li>





                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ni ni-cloud-download-95 "></i> Database
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="Admin" asp-controller="DataList" asp-action="ImportdatatoProject">
                            <i class="ni ni-fat-delete text-blue"></i>  Import Data to Project
                        </a>


                    </div>
                </li>

                <!-- Projec Config-->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ni ni-settings-gear-65 "></i> Project Setting
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" asp-area="Admin" asp-controller="ProjectConfig" asp-action="Index">
                            <i class="ni ni-fat-delete text-blue"></i> Project Configuration
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="CreditCardType" asp-action="Index">
                            <i class="ni ni-fat-delete text-blue"></i> Credit Card Type
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="IDCardType" asp-action="Index">
                            <i class="ni ni-fat-delete text-blue"></i> ID Card Type
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="Bank" asp-action="Index">
                            <i class="ni ni-fat-delete text-blue"></i> Bank
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="Script" asp-action="Index">
                            <i class="ni ni-fat-delete text-blue"></i> Script
                        </a>




                    </div>

                </li>

                <!-- Call Reason-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ni ni-bullet-list-67 "></i> Call Reason
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" asp-area="Admin" asp-controller="Reason" asp-action="CallBackIndex">
                            <i class="ni ni-fat-delete text-blue"></i> Call Back Reason
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="Reason" asp-action="FailIndex">
                            <i class="ni ni-fat-delete text-blue"></i> Fail Reason
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="Reason" asp-action="RefuseIndex">
                            <i class="ni ni-fat-delete text-blue"></i> Refuse Reason
                        </a>


                        <a class="dropdown-item" asp-area="Admin" asp-controller="Reason" asp-action="NonTargetIndex">
                            <i class="ni ni-fat-delete text-blue"></i> Non Target Reason
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="Reason" asp-action="SuccessIndex">
                            <i class="ni ni-fat-delete text-blue"></i> Success Reason
                        </a>

                    </div>


                </li>
                <!-- User & Role management-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ni ni-circle-08 "></i> User Management
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" asp-area="Admin" asp-controller="Role" asp-action="Index">
                            <i class="ni ni-fat-delete text-blue"></i> Role
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index" class="nav-link">
                            <i class="ni ni-fat-delete text-blue"></i> Users
                        </a>


                    </div>

                </li>


                <!-- List Management-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ni ni-check-bold "></i> List Management
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" asp-area="Admin" asp-controller="DataList" asp-action="Assignnew">
                            <i class="ni ni-fat-delete text-blue"></i> Assign New List
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="DataList" asp-action="Transfer">
                            <i class="ni ni-fat-delete text-blue"></i> Transfer List Between TSRs.
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="DataList" asp-action="AdjustDate">
                            <i class="ni ni-fat-delete text-blue"></i> Adjust Appointment Date
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="DataList" asp-action="Converttonew">
                            <i class="ni ni-fat-delete text-blue"></i> Convert to New Call
                        </a>

                    </div>

                </li>
                <!-- QC-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ni ni-check-bold "></i> QC Application
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" asp-area="Admin" asp-controller="DataList" asp-action="Assignnew">
                            <i class="ni ni-fat-delete text-blue"></i> Assign New List
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="DataList" asp-action="Transfer">
                            <i class="ni ni-fat-delete text-blue"></i> Transfer List Between TSRs.
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="DataList" asp-action="AdjustDate">
                            <i class="ni ni-fat-delete text-blue"></i> Adjust Appointment Date
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="DataList" asp-action="Converttonew">
                            <i class="ni ni-fat-delete text-blue"></i> Convert to New Call
                        </a>

                    </div>

                </li>

                <!-- List Management-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ni ni-check-bold "></i> Report
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" asp-area="Admin" asp-controller="DataList" asp-action="Assignnew">
                            <i class="ni ni-fat-delete text-blue"></i> Assign New List
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="DataList" asp-action="Transfer">
                            <i class="ni ni-fat-delete text-blue"></i> Transfer List Between TSRs.
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="DataList" asp-action="AdjustDate">
                            <i class="ni ni-fat-delete text-blue"></i> Adjust Appointment Date
                        </a>

                        <a class="dropdown-item" asp-area="Admin" asp-controller="DataList" asp-action="Converttonew">
                            <i class="ni ni-fat-delete text-blue"></i> Convert to New Call
                        </a>

                    </div>

                </li>

            </ul>

        </div>
    </div>
</nav>
