
<div class="form-group row ">
    <div class="col-4" style="text-align:right">
        <label >tsr list </label>
    </div>
    <div class="col-6 style=" text-align:center"">
        @*<input asp-for="FREEDATABYCRITERIA" class=" form-control" readonly />*@
        <span class=" text-green">tsr list</span>

    </div>
</div>