<!-- daily tsr-->
@*<div class="col-xl-8 mb-5 mb-xl-0">  *@
    <div class="card shadow">
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                    @*<h6>Status</h6>*@
                    <h4 >Agent Monitoring</h4>
                </div>

            </div>
        </div>

        <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush" style="width: 100%">
                <colgroup>
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 20%;">


                </colgroup>

                <thead class="thead-light">
                    <tr>
                        <th  scope="col"></th>
                        <th scope="col">AGENT</th>
                        <th scope="col"></th>
                        <th scope="col">STARTCALLTIME</th>
                        <th scope="col">TALKTIME</th>
                        <th scope="col">SCREEN</th>
                        <th scope="col">CUSTOMER</th>



                    </tr>
                </thead>
                <tbody id="MON">
                 
                </tbody>
            </table>
        </div>
    </div>
@*</div>*@

