<!-- daily tsr-->
@*<div class="col-xl-8 mb-5 mb-xl-0">  *@
    <div class="card shadow">
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                    @*<h6 >Performance</h6>*@
                    <h4>Today Sales by TSR</h4>
                </div>

            </div>
        </div>

        <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush" style="width: 100%">
                <colgroup>
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 35%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 5%;">
                </colgroup>

                <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">TSR</th>
                        <th scope="col">Total</th>
                        <th scope="col">New</th>
                        <th scope="col">Renew</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="PID">
                </tbody>
            </table>
        </div>
    </div>
@*</div>*@

