<!-- daily tsr-->
@*<div class="col-xl-8 mb-5 mb-xl-0">  *@
    <div class="card shadow">
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                    @*<h6>Status</h6>*@
                    <h4 >Logout Agent</h4>
                </div>

            </div>
        </div>

        <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush" style="width: 100%">
                <colgroup>
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 20%;">
         


                </colgroup>

                <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">AGENT</th>
                        <th scope="col"></th>
                        <th scope="col">LASTLOGOUY</th>
                 



                    </tr>
                </thead>
                <tbody id="LASTLOGOUT">
                </tbody>
            </table>
        </div>
    </div>
@*</div>*@

