



<div class="col-xl-3 col-lg-6  mb-2 ">
    <div class="card card-stats mb-2 mb-xl-0">
        <div class="card-body">

            <div class="table-responsive">

                <table class="table align-items-center table-flush" style="width: 100%">
                    <colgroup>
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 40%;">
                        <col span="1" style="width: 40%;">
                    </colgroup>

                    <thead class="thead-light">
                        @*<tr>
                    <th scope="col"></th>
                    <th scope="col">TSR</th>
                    <th scope="col">Total</th>
                    <th scope="col">New</th>
                    <th scope="col">Renew</th>
                    <th scope="col"></th>
                </tr>*@
                    </thead>
                    <tbody id="topsale12">
                    </tbody>
                </table>

            </div>

            </div>
        </div>
</div>





<div class="col-xl-3 col-lg-6  mb-2 ">
    <div class="card card-stats mb-2 mb-xl-0">
        <div class="card-body">
            <div class="row" id="PID2">


            </div>

        </div>
    </div>
</div>






<div class="col-xl-3 col-lg-6  mb-2 ">
    <div class="card card-stats mb-2 mb-xl-0">
        <div class="card-body">
            <div class="row" id="PID3">


            </div>
        </div>
    </div>
</div>







<div class="col-xl-3 col-lg-6  mb-2 ">
    <div class="card card-stats mb-2 mb-xl-0">
        <div class="card-body">
            <div class="row" id="PID4">


            </div>
        </div>
    </div>
</div>

@*<div class="col-xl-3 col-lg-6  mb-2 ">
        <div class="card card-stats mb-2 mb-xl-0">
            <div class="card-body">
                <div class="row">

                    <div class="col">
                        <div class="row">
                            <h5 class="card-title text-uppercase text-muted mb-0">sunitra</h5>
                        </div>
                        <div class="row">
                            <span class="h1  text-blue  font-weight-bold mb-0">350,897</span>
                        </div>
                        <div class="row">
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-yellow "><i class="fa fa-trophy"></i> </span>
                                <span class="text-nowrap">NEW / Top sale MTD</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class=" rounded-circle shadow">
                            <a href="/Admin/Dashboard/Profile/"> <img src="/img/Users/aa5f7971-12f9-493a-9d1c-6ec6b7c7f05c_SUNITRAsunitra.jpg" class="avatar avatar-xl">  </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="col-xl-3 col-lg-6  mb-2 ">
        <div class="card card-stats mb-2 mb-xl-0">
            <div class="card-body">
                <div class="row">

                    <div class="col">
                        <div class="row">
                            <h5 class="card-title text-uppercase text-muted mb-0">sunitra</h5>
                        </div>
                        <div class="row">
                            <span class="h1  text-blue  font-weight-bold mb-0">350,897</span>
                        </div>
                        <div class="row">
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-yellow "><i class="fa fa-trophy"></i> </span>
                                <span class="text-nowrap">NEW / Top sale MTD</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class=" rounded-circle shadow">
                            <a href="/Admin/Dashboard/Profile/"> <img src="/img/Users/aa5f7971-12f9-493a-9d1c-6ec6b7c7f05c_SUNITRAsunitra.jpg" class="avatar avatar-xl">  </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="col-xl-3 col-lg-6  mb-2 ">
        <div class="card card-stats mb-2 mb-xl-0">
            <div class="card-body">
                <div class="row">

                    <div class="col">
                        <div class="row">
                            <h5 class="card-title text-uppercase text-muted mb-0">sunitra</h5>
                        </div>
                        <div class="row">
                            <span class="h1  text-blue  font-weight-bold mb-0">350,897</span>
                        </div>
                        <div class="row">
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-yellow "><i class="fa fa-trophy"></i> </span>
                                <span class="text-nowrap">NEW / Top sale MTD</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class=" rounded-circle shadow">
                            <a href="/Admin/Dashboard/Profile/"> <img src="/img/Users/aa5f7971-12f9-493a-9d1c-6ec6b7c7f05c_SUNITRAsunitra.jpg" class="avatar avatar-xl">  </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <div class="col-xl-3 col-lg-6  mb-2 ">
        <div class="card card-stats mb-2 mb-xl-0">
            <div class="card-body">
                <div class="row">

                    <div class="col">
                        <div class="row">
                            <h5 class="card-title text-uppercase text-muted mb-0">sunitra</h5>
                        </div>
                        <div class="row">
                            <span class="h1  text-blue  font-weight-bold mb-0">350,897</span>
                        </div>
                        <div class="row">
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-yellow "><i class="fa fa-trophy"></i> </span>
                                <span class="text-nowrap">NEW / Top sale MTD</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class=" rounded-circle shadow">
                            <a href="/Admin/Dashboard/Profile/"> <img src="/img/Users/aa5f7971-12f9-493a-9d1c-6ec6b7c7f05c_SUNITRAsunitra.jpg" class="avatar avatar-xl">  </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@