

    <div class="card bg-gradient-default shadow">


        @*<div class="card shadow">*@
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                    @*<h6 class="text-uppercase text-light ls-1 mb-1">Performance</h6>*@
                    <h4 class="text-white mb-0">Last 7 Days Sales value</h4>
                </div>

            </div>
        </div>
        <div class="card-body">
            <!-- Chart -->
            <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="myChart" class="chart-canvas"></canvas>
            </div>
        </div>
    </div>
